h1, h2, h3, h4, h5, h6{
    color: #1a202e;
    font-family: 'Montserrat', sans-serif;
}
.date_main_show input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.update_product div.table-responsive > div.dataTables_wrapper > div.row {
    width: 100%;
}
.update_product .update_price span {
    width: 75%;
    display: inline-block;
}

.select_2_add_btn {
    position: absolute;
    top: 53px;
    left: 0px;
    width: 100%;
}
.select_2_add_btn .btns {
    color: #d30000 !important;
    border: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    border-radius: 60px;
    width: 100%;
    text-align: left;
    padding-left: 6px !important;
}

.fa-circle-check.user_icon {
    font-size: 19px;
}
.active_inactive_user {
    margin-top: 4px;
    margin-left: 5px;
}

.active_inactive_user i {
    font-size: 18px;
}
#roles-table tbody tr td:last-child {
    justify-content: left;
    padding-left: 7px;
}
#select2-calculation_type-results {
    margin-top: -34px;
}
.add_group.circlebtn:hover {
    background: #2159d7 !important;
}

aside,
.main-sidebar,
.main-sidebar .dropdown,
.main-sidebar .sidebar-menu li.active a {
    background: #062142 !important;
}

.main-sidebar .sidebar-brand a,
.main-sidebar .sidebar-menu li a {
    color: #fff !important;
}

.update_data_table_responsive {
    overflow: hidden;
}
.update_data_table_responsive .dataTables_wrapper > div:nth-child(2) > div {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.update_data_table_responsive
    .dataTables_wrapper
    > div:nth-child(2)
    > div
    table {
    white-space: nowrap;
    width: 100% !important;
}

.section-body .select2-container {
    width: 100% !important;
}

/* 12-02-24 css */
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 42px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0.75rem;
    font-size: 15px;
}
.select2-container
    .select2-selection--single
    .select2-selection__rendered[title] {
    color: #6c757d;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td,
.table:not(.table-sm):not(.table-md):not(.dataTable) th {
    border: 1px solid #fff;
}

.theme-white .btn-primary {
    padding: 0px 30px;
}
.edit_product_price:focus {
    background-color: #2159d7 !important;
}
.order_create_btnarea .btn-info:hover,
.order_create_btnarea .btn-info:focus,
.order_create_btnarea .btn-info:active {
    background-color: #31b8cd !important;
    border-color: #31b8cd !important;
}
.table-for-data {
    border: none !important;
    background: #e9ecef !important;
    margin-bottom: 0 !important;
    height: 150px;
    border-bottom: 20px solid #fff !important;
}
#order_products_table .order_create td {
    padding-right: 0;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) .table-for-data tr td {
    vertical-align: top !important;
    border: none !important;
    padding: 10px !important;
    line-height: 1.42857143;
}

#addGlassProductDetailModal .modal-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
}
#addGlassProductDetailModal .modal-footer {
    padding-left: 15px;
    padding-right: 15px;
}
#addGlassProductDetailModal .modal-body .deleteGlassRow {
    background-color: #ce2222 !important;
    color: #fff;
    padding: 3px 25px !important;
}
.sub_product_div .form-control {
    transition: inherit;
}
.edit_profile{
    position: relative;
    overflow: hidden;
}
.edit_profile input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
}
#editButton:hover{
    text-decoration: none;
}
#EditprofileForm .input-group .input-group-prepend{
    flex: 0 0 40px;
    -webkit-flex: 0 0 40px;
}
#EditprofileForm .input-group .input-group-prepend>div{
    width: 100%;
}
#EditprofileForm .input-group .select2-container{
    flex: 1 1 0;
    -webkit-flex: 1 1 0;
}
.extra_options .form-check-input.extra_option{
    left: 4px;
}

/*05-03-2024*/
.popup_render_div #AddForm .form-group input[type="password"],
.profile-pass-change .input-group input[type="password"]{
    padding-right: 34px;
}
.password-toggle-icon i,
.confirm-password-toggle-icon i,
.pass-toggle-icon i{
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 10px 12px;
    z-index: 4;
}
.order_products_table-design thead th:last-child{
    min-width: 200px;
}
.order_products_table-design .table-for-data tr td:last-child button{
    background-color: transparent;
    padding: 0 !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
}
.order_products_table-design .table-for-data tr td:last-child button i{
    color: #284561;
}
.order_products_table-design .table-for-data tr td:last-child button:hover i{
    color: #fff;
}
.select_group_list ul{
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    gap: 15px;
}
.select_group_list li{
    display: inline-block;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    line-height: 16px;
}
.select_group_list label{
    margin: 0;
    line-height: 15px;
    position: relative;
    padding-left: 24px;
}
.select_group_list input{
    display: none;
}
.select_group_list label:before{
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    border: 1px solid #db5102;
    width: 18px;
    height: 18px;
    border-radius: 2px;
}
.select_group_list input:checked+label:before{
    background-color: #db5102;
}
.select_group_list label:after{
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0552 0.409519C16.141 0.484645 16.2111 0.576081 16.2612 0.67851C16.3114 0.780938 16.3407 0.892316 16.3474 1.00617C16.3541 1.12002 16.3381 1.23407 16.3004 1.34169C16.2626 1.44931 16.2039 1.54836 16.1275 1.63306L7.08086 11.6735C7.00412 11.7585 6.91118 11.8274 6.80749 11.876C6.7038 11.9247 6.59143 11.9521 6.47699 11.9568C6.36255 11.9614 6.24834 11.9432 6.14104 11.9031C6.03374 11.863 5.93553 11.8019 5.85215 11.7234L0.617246 6.79569C0.460198 6.64574 0.365109 6.44233 0.350771 6.22566C0.336433 6.009 0.403888 5.79483 0.539807 5.62549C0.613172 5.53369 0.70443 5.45775 0.808039 5.40229C0.911648 5.34682 1.02545 5.313 1.14253 5.30286C1.25961 5.29272 1.37753 5.30648 1.48913 5.34331C1.60074 5.38013 1.70369 5.43925 1.79174 5.51708L5.85301 9.1705C6.02258 9.32312 6.24583 9.40215 6.47366 9.39021C6.7015 9.37827 6.91526 9.27634 7.06795 9.10683L14.8489 0.479215C15.0004 0.311289 15.2118 0.209741 15.4376 0.196538C15.6633 0.183334 15.8852 0.259535 16.0552 0.408659V0.409519Z" fill="white"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    z-index: 1;
}
.name_suggestion_main{
    position: relative;
}
.name_suggestion_main .name_suggestion_list ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    z-index: 1;
    background: #fff;
    padding: 10px;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 200px;
    overflow-y: auto;
}
.name_suggestion_main input:focus + .name_suggestion_list ul{
    opacity: 1;
    visibility: visible;
}
.name_suggestion_main .name_suggestion_list ul li{
    display: block;
}

.modal{
    height: calc(100% - 100px);
}

/*08-03-2024*/
.swal2-container .swal2-title{
    padding: 14px 10px;
    background-color: #062142;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
}
.swal2-container .swal2-input-label{
    display: block;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    font-weight: 600;
    line-height: 16px;
    text-transform: capitalize;
    color: #062142;
}
.swal2-container .swal2-textarea{
    margin-top: 10px;
    border: 1px solid #d9d9d9;
}
.swal2-container .swal2-textarea:focus{
    box-shadow: none;
    border-color: #d9d9d9;
}
.swal2-container .swal2-actions{
    width: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-right: 2rem;
}
.swal2-container .swal2-actions>button{
    min-width: 100px;
    text-align: center;
}
.swal2-container .swal2-actions .swal2-confirm,
#addGlassProductDetailModal .modal-footer .glass-item-save{
    background-color: #db5102;
    border-color: transparent !important;
    color: #fff;
}

#addGlassProductDetailModal .modal-header{
    padding: 15px;
    background-color: #062142;
}
#addGlassProductDetailModal .modal-header .modal-title{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
#addGlassProductDetailModal .modal-header .close{
    background-color: #384657;
    padding: 0 !important;
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    -webkit-flex: 0 0 36px;
}
#addGlassProductDetailModal .modal-header .close>span{
    font-size: 26px;
    color: #fff;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
}
#addGlassProductDetailModal .addGlassRow{
    line-height: 22px;
    padding: 6px 10px !important;
}
#addGlassProductDetailModal .addGlassRow:hover,
#addGlassProductDetailModal .addGlassRow:focus{
    background-color: #23a574 !important;
    border-color: #23a574 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
#addGlassProductDetailModal .addGlassRow i{
    font-size: 14px;
}
#addGlassProductDetailModal .glass-product-item .form-group>label{
    margin-bottom: 7px;
    font-weight: 600;
    line-height: 16px;
    text-transform: capitalize;
}
#addGlassProductDetailModal .glass-product-item .form-group>input{
    line-height: 22px;
    height: auto;
}
#addGlassProductDetailModal .glass-product-item>.row+.row{
    position: relative;
}
#addGlassProductDetailModal .glass-product-item>.row+.row:before{
    content: '';
    position: absolute;
    left: 15px;
    top: -15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #ebebeb;
}
#addGlassProductDetailModal .glass-product-item>.row:last-child .form-group{
    margin-bottom: 0;
}
#addGlassProductDetailModal .modal-footer .btn-secondary{
    border-radius: 0.25em;
    background: initial;
    background-color: #6e7881;
    color: #fff;
    border: none;
}
#addGlassProductDetailModal .modal-footer .glass-item-save:hover,
#addGlassProductDetailModal .modal-footer .glass-item-save:focus{
    background-color: #db5102 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
#addGlassProductDetailModal .modal-footer .btn-secondary:hover,
#addGlassProductDetailModal .modal-footer .btn-secondary:focus{
    background-color: #6e7881 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.delete_row_block{
    margin-top: 25px;
}
.price_per_fee{
    cursor: default;
}
.price_per_fee:hover{
    text-decoration: none;
}

.main-navbar{
    background-color: #062142 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 58px;
}
.main-navbar .navbar-nav .nav-link i{
    color: #fff;
}
.navbar .nav-link.nav-link-user img{
    background: #ebebeb;
}
body,
.navbar-bg{
    background-color: #f1f5f9 !important;
}
.section-body .card{
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07) !important;
    border-radius: 4px;
}
.section-body .card .card-header{
    border-bottom: none;
    padding-top: 15px;
}
.section-body .card .card-header h3{
    font-size: 22px;
}
.section-body .card .card-body form .form-group>label,
.order_products_table-design .table th{
    color: #3b4863;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: inherit;
}
.section-body .card .card-body form .form-group .select2-container .select2-selection--single,
.section-body .card .card-body form .form-group .select2-container--default .select2-selection--single .select2-selection__rendered,
.section-body .card .card-body form .form-group .select2-container--default .select2-selection--single .select2-selection__arrow{
    min-height: 34px;
}
.section-body .card .card-body form .form-group .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
    font-size: 15px;
}
.section-body .card .card-body form .form-group .input-group input,
.section-body .card .card-body form .form-group .quantity-content input,
.sub_product_div select{
    height: 34px !important;
}
.section-body .card .card-body form .form-group .input-group input.passwordh_42{
    height: 42px !important;
}
.add-product.form-group{
    text-align: right;
}
.add-product.form-group #addDesBtn,
.add-product.form-group #glassProductBtn{
    float: none;
    margin-left: 0;
    margin-right: 6px;
}
.add-product.form-group button{
    padding: 7px 10px !important;
    min-height: auto;
    height: auto;
    line-height: 18px;
}
.add-product.form-group button,
.add-product.form-group button i,
.sub_product_div select{
    font-size: 15px !important;
}
.order_products_table-design .table th{
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
}

.main-sidebar .sidebar-brand a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.main-sidebar .sidebar-menu>li:last-child{
    margin-bottom: 0;
}
.main-sidebar .sidebar-menu li a{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-sidebar .sidebar-menu li a svg{
    width: 16px !important;
}
.main-navbar .navbar-nav.navbar-right li:not(.dropdown)>a {
    background-color: #fff;
    color: #062142;
    padding: 8px 10px;
    display: inline-block;
    line-height: 18px;
    margin-left: 10px;
    border-radius: 5px;
}
.main-navbar .navbar-nav.navbar-right li:first-child>a{
    background-color: #db5102;
    color: #fff;
}
.main-navbar .navbar-nav.navbar-right li:not(.dropdown)>a{
    text-decoration: none;
}
table.dataTable thead>tr>th{
    text-transform: capitalize !important;
    background-color: #eff3f8 !important;
}
table.dataTable tbody>tr:nth-child(even){
    background-color: #eff3f8;
}
.dropdownBtnTable tbody tr td:last-child{
    display: table-cell;
}
.cash-reciept-trans tbody tr td:last-child{
    display: flex;
    display: -webkit-flex;
}
.cash-reciept-trans tbody tr.estimates-trans-active{
    background-color: #062142 !important;
}
.cash-reciept-trans tbody tr.estimates-trans-active td{
    color: #fff;
}
.cash-reciept-trans tbody tr.estimates-trans-active td:last-child svg path{
    fill: #fff;
}
.cash-reciept-trans tbody tr.estimates-trans-active td:last-child a:hover svg path{
    fill: #db5102 !important;
}
.card .card-header h4,
.modal-header h5,
.table:not(.table-sm) thead th,
.section-body .card .card-header h3,
#group_form .form-group label,
.table tfoot th{
    text-transform: capitalize;
}
.loader {
    background-color: rgba(255, 255, 255, 0.8);
}
.product_page_buttons>.row{
    gap: 8px;
}
.product_page_buttons .btn-column{
    display: flex;
    display: -webkit-flex;
    gap: 5px;
    padding: 8px;
    background-color: #f1f5f9;
    border-radius: 5px;
}
.product_page_buttons .btn-column .btn{
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
}
.product_page_buttons .btn-column .btn svg{
    height: 22px;
    width: auto;
}
.product_page_buttons .btn-column:nth-child(2) .in-btn-column>.btn{
    background-color: #062142 !important;
}
.section-body .card .card-header h3{
    font-size: 18px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
    font-weight: 600;
    color: #062142;
}

.estimates_trans_view .panel-body table thead>tr>th{
    text-transform: capitalize !important;
    background-color: #eff3f8 !important;
}
.estimates_trans_view .panel-body table tbody tr.odd{
    background: #fbfdff;
    color: #232324;
}
.estimates_trans_view .panel-body table tbody>tr:nth-child(even){
    background-color: #eff3f8;
}
.modal .estimates_trans_view .panel-body table tbody>tr td,
.estimates_trans_view .panel-body table thead>tr>th{
    border-bottom: none !important;
}
.estimates_trans_view .panel-body table tbody>tr td:not(:last-child),
.estimates_trans_view .panel-body table thead>tr>th:not(:last-child){
    border-right: 1px solid #ddd !important;
}
.estimates_trans_view .panel-body table tbody>tr:last-child td{
    border-right: none !important;
    border-left: none !important;
}
.estimates_trans_view .panel-body .row address{
    margin-bottom: 0;
}
.estimates_trans_view>.panel-body:not(:last-child){
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 12px;
    margin-bottom: 5px;
}
.party-list-managementTable{
    padding-bottom: 10px;
}
.party-list-managementTable thead th:not(:first-child,:last-child){
    width: 140px;
}
.party-list-managementTable thead th:nth-last-of-type(2){
    width: 170px;
}
.party-list-managementTable thead th:last-child{
    width: 80px;
    text-align: center;
}
.party-list-managementTable tbody tr td:last-child{
    text-align: center;
}
.party-list-managementTable tbody tr td:last-child button{
    background-color: transparent;
    border: none;
}
.party-list-managementTable tfoot{
    background: #062142;
}
.party-list-managementTable tfoot th{
    color: #fff;
}
.party-list-managementTable tfoot th{
    border-color: #30445c !important;
}

#customerMonthDetail table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
#customerMonthDetail table tfoot tr:last-child{
    background-color: #f3f3f3;
}

.payment-history-customer tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}
.payment-history-customer tbody>tr>td,
.payment-history-customer tfoot>tr>th,
.payment-history-customer tfoot>tr>td{
    border-color: #f4f4f4 !important;
}
.payment-history-customer tfoot>tr>th{
    color: #3b4863;
}
.dbl-btns{
    gap: 10px;
}
.dbl-btns .btn-primary{
    height: 34px;
}
.Blist-btn{
    background-color: #062142;
    color: #fff;
    margin-top: 20px;
}
.Blist-btn:hover,
.Blist-btn:focus{
    background-color: #db5102 !important;
    color: #fff !important;
}
.payment-detail-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}
.payment-detail-btn:hover{
    color: #db5102;
}
.card .card-header .btn.circlebtn{
    border-radius: 100%;
}
.selectyear label {
    white-space: nowrap;
    margin-right: 15px;
}

.panel-body.payment-history-customer .table tr th:last-child, .panel-body.payment-history-customer .table tr td:last-child {
    text-align: start !important;
}

#edithead, #editbody{
    display: none;
}

.editprofile_page.section-body .card .card-body form .form-group .input-group input{
    min-height: 42px;
    height: 42px;
}

.editprofile_page .input-group-text,
.editprofile_page select.form-control:not([size]):not([multiple]),
.editprofile_page .form-control:not(.form-control-sm):not(.form-control-lg) {
    height: 42px;
    width: 42px !important;
}


/* .select_filter {
    position: absolute;
    top: 40px;
    right: 260px;
    z-index: 2;
} */

.select_filter select.form-control:not([size]):not([multiple]) {
    height: calc(1.75rem + 6px);
    min-width: 200px;
}
/* .select_filter .selectgroup {
    min-width: 200px;
} */

.dataTables_filter{
    display: flex;
    gap: 10px;
}

.estimates_transactions_table tbody tr td .estimate-action-icons .btn {
    width: 28px;
    height: 28px;
}
.estimates_transactions_table tbody tr td .estimate-action-icons{
   position: relative;
   padding: 11px;
   width: 110px;
}
.estimates_transactions_table tbody tr td .estimate-action-icons a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.estimates_transactions_table tbody tr td .estimate-action-icons a.edit_product {
    left: 0px;
}
.estimates_transactions_table tbody tr td .estimate-action-icons a.view_detail {
    left: 30px;
}
.estimates_transactions_table tbody tr td .estimate-action-icons a.view_history_detail {
    left: 60px;
}
.estimates_transactions_table tbody tr td .estimate-action-icons a.delete_transaction {
    left: 90px;
}


/* ---Select2 Css------- */
#area-filter-form .select2-selection__rendered {
    height: 100%;
    padding: 0px;
}

#area-filter-form .select2-container .select2-selection--multiple {
    padding: 4px 45px 8px 15px;
    min-height: 42px;
    display: flex;
    align-items: center;
}

#area-filter-form .select2-results {
    padding-top: 10px !important;
}

#area-filter-form .select2-selection--multiple .select2-selection__choice {
    background-color: #000000;
    border: 1px solid #000000;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 1px 8px;
}


#area-filter-form .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    font-weight: 400;
    font-size: 23px;
}
#area-filter-form button#reset-filter {
    border-radius: 4px;
    height: 47px;
}
#area-filter-form .closebtn {
    position: absolute;
    top: 9px;
    right: 9px;
    background: #db5102;
    width: 30px;
    height: 30px;
    padding: 0px !important;
    font-size: 20px !important;
    line-height: 1;
    border: none;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer_report_table table.dataTable tbody tr td:first-child, .customer_report_table table.dataTable thead>tr>th:first-child {
    width: 0%;
    min-width: 15px;
}
.customer_report_table table.dataTable thead>tr>th {
   padding: 10px 15px;
}


.selectyearlabel label{
    text-transform: capitalize;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.selectyearlabel .selectyear select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + -4px);
}

.deletedate_box.cart_filter_box{
    align-items: end !important;
    padding-bottom: 0px !important;
}


/* ------------Responsive Css------------ */


@media screen and (min-width: 1200px) and (max-width: 1499px) {
    /*.product-detail {
        flex: 0 0 100%;
        max-width: 100%;
    }*/
    /*.add-product button {
        padding: 6px 20px !important;
    }*/
    /*#products_table .row > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px !important;
    }*/
    /*#products_table .row > div:nth-child(2),
    #products_table .row > div:nth-child(3) {
        flex: 0 0 10%;
        max-width: 10%;
    }*/
    .product-detail .product-table-design .quantity-column{
        flex: 0 0 30%;
        max-width: 30%;
    }
    .product-detail .product-table-design .sub_product_div ~ .quantity-column{
        flex: 0 0 28%;
        max-width: 28%;
        padding-left: 0;
        padding-right: 0;
    }
    .product-detail .product-table-design .price-column{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .product-detail .product-table-design .sub_product_div ~ .price-column{
        flex: 0 0 15%;
        max-width: 15%;
        padding-right: 0;
    }
    .product-detail .product-table-design .add-product{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .product-detail .product-table-design .sub_product_div ~ .add-product{
        flex: 0 0 15%;
        max-width: 15%;
        padding-left: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .product-detail .product-table-design .sub_product_div,
    .product-detail .product-table-design .quantity-column,
    .product-detail .product-table-design .price-column,
    .product-detail .product-table-design .amount-column,
    .product-detail .product-table-design .add-product{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-detail .product-table-design .sub_product_div ~ .price-column,
    .product-detail .product-table-design .sub_product_div ~ .amount-column,
    .product-detail .product-table-design .sub_product_div ~ .add-product{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

/*@media screen and (min-width: 992px) and (max-width: 1199px) {
    .add-product button {
        padding: 6px 8px !important;
    }
    #products_table .row > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px !important;
    }
    #products_table .row > div:nth-child(2),
    #products_table .row > div:nth-child(3) {
        flex: 0 0 14%;
        max-width: 14%;
    }
}*/

@media screen and (max-width: 575px){
    #addGlassProductDetailModal .glass-product-item>.row .form-group,
    #addGlassProductDetailModal .glass-product-item>.row:last-child .form-group{
        margin-bottom: 10px;
    }
    .delete_row_block {
        margin-top: 5px;
    }
    #addGlassProductDetailModal .glass-product-item>.row+.row{
        margin-top: 36px;
    }
    .product_page_buttons .btn-column .btn{
        width: 35px;
        height: 35px;
    }
    .product_page_buttons .btn-column .btn svg{
        height: 20px;
        width: auto;
    }
    .main-navbar .navbar-nav.navbar-right{
        padding-right: 30px;
    }
    .main-navbar .navbar-nav.navbar-right li:first-child a{
        margin-left: 0;
    }
    .main-navbar .navbar-nav.navbar-right li:not(.dropdown)>a{
        padding: 6px;
        font-size: 13px;
        margin-left: 5px;
    }
    .main-navbar>.form-inline,
    .main-navbar>.form-inline>.navbar-nav{
        margin-right: 0 !important;
    }
    .main-navbar>.form-inline>.navbar-nav .nav-link{
        padding-right: 10px !important;
    }
    .dbl-btns{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px){
    .main-navbar .navbar-nav.navbar-right li:not(.dropdown)>a{
        font-size: 12px;
        padding: 4px;
    }
}
