
.update_product div.table-responsive>div.dataTables_wrapper>div.row {
    width: 100%;
  }
.update_product  .update_price span{ width: 75%;    display: inline-block;}

.select_2_add_btn{
  position: absolute;
  top: 53px;
  left: 0px;
  width: 100%;
}
.select_2_add_btn .btns{
  color: #d30000 !important;
  border: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  border-radius: 60px;
  width: 100%;
  text-align: left;
  padding-left: 6px !important;
}

.fa-circle-check.user_icon{font-size: 19px;}
.active_inactive_user{
  margin-top: 4px;
  margin-left: 5px;
}

.active_inactive_user i{
  font-size: 18px;
}
#roles-table tbody tr td:last-child{
  justify-content: left;
    padding-left: 7px;
}
#select2-calculation_type-results{
  margin-top: -34px;
}
.add_group.circlebtn:hover{
  background: #2159d7 !important;
}



aside, .main-sidebar, .main-sidebar .dropdown, .main-sidebar .sidebar-menu li.active a  {
  background: #062142 !important;
}

.main-sidebar .sidebar-brand a , .main-sidebar .sidebar-menu li a{
  color: #fff !important;
}

.update_data_table_responsive{
  overflow: hidden;
}
.update_data_table_responsive .dataTables_wrapper>div:nth-child(2)>div {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.update_data_table_responsive .dataTables_wrapper>div:nth-child(2)>div table {
  white-space: nowrap;
width: 100% !important;
}

.section-body .select2-container{
  width: 100% !important;
}